<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name=".MarketplaceApp"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo_market_mahasiswa"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_market_mahasiswa"
        android:supportsRtl="true"
        android:theme="@style/Theme.MarketPlace">

        <activity
            android:name=".ui.auth.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.auth.LoginActivity" />
        
        <activity android:name=".ui.auth.RegisterActivity" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity android:name=".ui.home.GuestHomeActivity" />
        <activity android:name=".ui.product.ProductDetailActivity" />
        <activity android:name=".ui.product.AddProductActivity" />
        <activity android:name=".ui.product.MyProductsActivity" />
        <activity android:name=".ui.product.EditProductActivity" />
        <activity android:name=".ui.seller.MyOrdersActivity" />
        <activity android:name=".ui.seller.SellerOrdersActivity" />
        <activity android:name=".ui.seller.SellerDashboardActivity" />
        <activity android:name=".ui.seller.SellerBalanceActivity" />
        <activity android:name=".ui.cart.CartActivity" />
        <activity android:name=".ui.cart.CheckoutActivity" />
        <activity android:name=".ui.transaction.TransactionActivity" />
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.profile.WishlistActivity" />
        <activity android:name=".ui.profile.AddressActivity" />
        <activity android:name=".ui.profile.MapPickerActivity" />
        <activity android:name=".ui.profile.ManageAddressActivity" />
        <activity android:name=".ui.profile.AddEditAddressActivity" />
        <activity android:name=".ui.seller.OrderDetailActivity" />
        <activity android:name=".ui.profile.MyVoucherActivity" />

        <activity
            android:name=".ui.dispute.DisputeDetailActivity"
            android:label="Laporan Masalah"
            android:parentActivityName=".ui.transaction.TransactionActivity"
            android:exported="false"/>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.payment.PaymentActivity"
            android:label="Pembayaran" />
        <activity android:name=".ui.chat.ChatActivity" />
        <activity android:name=".ui.chat.ConversationsActivity" />
        <activity android:name=".ui.payment.ScanQrActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MarketPlace" />
        <activity android:name=".ui.payment.PendingPaymentsActivity"
            android:label="Tagihan Belum Dibayar" />
        <activity android:name=".ui.payment.WalletActivity"
            android:label="MeyPay Wallet" />
        <activity android:name=".ui.payment.PaymentSuccessActivity"
            android:label="Pembayaran Berhasil" />
        <activity android:name=".ui.payment.InvoiceActivity"
            android:label="Invoice Pembayaran" />
        <activity android:name=".ui.payment.WalletPaymentActivity"
            android:label="Bayar dengan MeyPay" />

    </application>

</manifest>